<h1><%= t_with_source('.heading') %></h1>

<p>
  <%= t_with_source('.outro_html') %>
</p>

<p>
  <%= t_with_source('.contact_html') %>
</p>

<p><%= link_to t_with_source('.back'), @submission.referer, class: 'button button--primary' %>
