<h1><%= t_with_source('.heading') %></h1>

<%= t_with_source('.outro_html') %>

<p><%= link_to t_with_source('.back_to_tool'), @submission.referer, class: 'button button--primary' %>

<%= t_with_source('.contact_html') %>
