<h1>Thanks for letting us know</h1>

<p>Your feedback will be viewed by the team. If you need to talk to us please use one of the methods below:</p>

<p>Need help or advice? Use our contact us page.</p>

<p><%= link_to "Back to tool", @referer %>
